.button {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  color: map-get($colours, 'white');
  border: 1px solid transparent;
  border-radius: 0.5rem;
  padding: 15px 25px;
  font-size: 2rem;
  cursor: pointer;

  &.button-start {
    background-color: map-get($colours, 'lightgreen');
  }
  &.button-stop {
    background-color: map-get($colours, 'lightcoral');
  }
  &.button-reset {
    background-color: map-get($colours, 'lightblue');
  }
  &.button-lap {
    background-color: map-get($colours, 'gold');
  }
  &.button-clear {
    background-color: map-get($colours, 'lightslategrey');
  }

}

