.stopwatch {
  text-align: center;
  padding: 4rem 2rem;

  .timer {
    font-size: 4rem;
    margin-bottom: 20px;
  }

  span {
    font-size: 4rem;
  }
}

#lap {
  padding: 0;
  font-size: 2rem;

  > li {
    list-style: none;
    margin: 10px 0;
  }
}