.strips {
  float: left;
  margin-top: 65px;
  margin-left: 65px;
  margin-bottom: 65px;
  width: 270px;
  height: 1060px;
}

.strips__strip {
  width: 76px;
  margin-right: 13px;
  height: 100%;
  float: left;

  > span {
    background-color: map-get($colours, 'orange');
    display: block;
    height: 100%;
  }
}
