.text-right {
  position: absolute;
  top: 105px;
  right: 10px;
  font-size: 0.8rem;
  transform: rotate(-90deg);
}

.text-centre {
  margin-top: 330px;

  > p {
    margin-top: -10px;
    margin-left: 340px;
    width: 190px;
  }
}

.text-bottom {
  height: 668px;
  padding-left: 5px;
  display: table-cell;
  vertical-align: bottom;

  .date, .time {
    display: inline-block;
    margin-right: 25px;
    font-size: 3.5rem;
    font-weight: bold;

    > span {
      color: map-get($colours, 'orange');
      padding: 0 2px;
    }
  }

  > p {
    font-size: 2rem;
    margin: 0;
  }

  .small {
    font-size: 1rem;
    margin-top: 8px;
    width: 75%;
  }
}
