html {
  font-size: 62.5%;
}

body {
  font-size: 1.4rem;
  font-family: Helvetica, arial, sans-serif;
  padding: 2rem;
  background-color: #E9ECEF;
}

h1 {
  font-size: 8rem;
  margin: 0;
}

.container {
  background-color: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.6);
  height: 1191px;
  position: relative;
  margin: 0 auto;
  width: 638px;
}

.strips {
  float: left;
  margin-top: 65px;
  margin-left: 65px;
  margin-bottom: 65px;
  width: 270px;
  height: 1060px;
}

.strips__strip {
  width: 76px;
  margin-right: 13px;
  height: 100%;
  float: left;
}
.strips__strip > span {
  background-color: #D74F30;
  display: block;
  height: 100%;
}

.text-right {
  position: absolute;
  top: 105px;
  right: 10px;
  font-size: 0.8rem;
  transform: rotate(-90deg);
}

.text-centre {
  margin-top: 330px;
}
.text-centre > p {
  margin-top: -10px;
  margin-left: 340px;
  width: 190px;
}

.text-bottom {
  height: 668px;
  padding-left: 5px;
  display: table-cell;
  vertical-align: bottom;
}
.text-bottom .date, .text-bottom .time {
  display: inline-block;
  margin-right: 25px;
  font-size: 3.5rem;
  font-weight: bold;
}
.text-bottom .date > span, .text-bottom .time > span {
  color: #D74F30;
  padding: 0 2px;
}
.text-bottom > p {
  font-size: 2rem;
  margin: 0;
}
.text-bottom .small {
  font-size: 1rem;
  margin-top: 8px;
  width: 75%;
}

.button {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  color: #FFFFFF;
  border: 1px solid transparent;
  border-radius: 0.5rem;
  padding: 15px 25px;
  font-size: 2rem;
  cursor: pointer;
}
.button.button-start {
  background-color: #90EE90;
}
.button.button-stop {
  background-color: #F08080;
}
.button.button-reset {
  background-color: #ADD8E6;
}
.button.button-lap {
  background-color: #FFD700;
}
.button.button-clear {
  background-color: #778899;
}

.stopwatch {
  text-align: center;
  padding: 4rem 2rem;
}
.stopwatch .timer {
  font-size: 4rem;
  margin-bottom: 20px;
}
.stopwatch span {
  font-size: 4rem;
}

#lap {
  padding: 0;
  font-size: 2rem;
}
#lap > li {
  list-style: none;
  margin: 10px 0;
}

/*# sourceMappingURL=main.css.map */
