html {
  font-size: 62.5%;
}

body {
  font-size: 1.4rem;
  font-family: Helvetica, arial, sans-serif;
  padding: 2rem;
  background-color: map-get($colours, 'grey');
}

h1 {
  font-size: 8rem;
  margin: 0;
}
